@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



*, *::before, *::after {
    align-content: center;
    box-sizing: border-box;
    outline: none;
    font-family: 'Audiowide';
    font-weight: normal;
}

#wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem;
    text-emphasis-color: rgb(112, 11, 201);
    text-shadow: rgba(88, 1, 160,.68);
    color: #1dd608;
    width: auto;
}

hr{
    border: none;
    height: .125rem;
    width: 25rem;
    background-color: #ff009d;
    margin:0;
}
#contact{
    display:flex;
    font-style: italic;
    font-weight: 500;
    font-size: small;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    border: none;
    text-shadow: rgba(88, 1, 160, 0.863);
}
.link{
    color:pink;
    text-decoration: none;
    padding: .45rem;
    margin: .39rem;
    background-color:rgb(133, 28, 133);
    box-shadow: inset -0.375rem -0.375rem 0.813rem #9029e4, 0.375rem 0.375rem 0.813rem #72107bc9;
    border-radius: 2rem;
    transition: ease 0.3s;

}
.link :hover{
    background-color: rgb(150,123,177);
    box-shadow: inset 0.375rem 0.375rem 0.813rem #5801a0, 0.375rem 0.375rem 0.813rem #980ca5;
    
}
.link > img {
    width: 1.25rem;
}

  
body{
    justify-content: center;
    align-items: center;
    margin: 5rem;
    width: fit-content;
    background:#cf0bb2;

}

.calculator-grid {
    box-shadow: inset 0.375rem 0.375rem 0.813rem #fff, 0.375rem 0.375rem 0.813rem rgba(0,0,0,.16);
    border-radius: 9.8rem;
    border: none;
    padding: 10%;
    height: 100vh;
    width: fit-content;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,6.25rem);
    grid-template-rows: minmax(7.5rem,auto) repeat(4,6.25rem);
    background-color: #ff009d;
}

.calculator-grid > button {
    box-shadow: inset 0.375rem 0.375rem 0.813rem #fff, 0.375rem 0.375rem 0.813rem rgba(0,0,0,.16);
    border-radius: 2.813rem;
    border: none;
    padding: 1.125rem;
    font-size: 2rem;
    border: .063rem solid white;
    outline:none;
    background-color: rgba(225, 168, 168, 0.75);
    transition: ease 0.5s;
    justify-content: center center;
    align-content: center ;
    
}

.calculator-grid > button:hover {
    cursor: pointer; 
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: inset -0.375rem -0.375rem 0.813rem rgba(128, 128, 128, 0.25), 0.375rem 0.375rem 0.813rem rgb(115, 0, 182);

}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: span 4;
    box-shadow: inset -0.375rem -0.375rem 0.813rem #fff, 0.375rem 0.375rem 0.813rem rgba(0,0,0,.16);
    padding: 1.125rem;
    background-color: rgba(6, 71, 128, 0.45);
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap:break-word;
    word-break: break-all;
    margin: .125;

}

.output .previous-operand {
    color: #afafaf;
    font-size: 1.5rem;
}

.output .current-operand {
    color: #ffffff;
    font-size: 2.5rem;
}